DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=smart_fish_db

APP_NAME=Smart Fish API
APP_ENV=development
DEBUG=True
API_V1_PREFIX=/api/v1

CORS_ORIGINS=http://localhost:5173

MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=smartfish/sensors